*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.background{
    background-image:url("nature.js3.jpg");
    height: 100vh;
    width:100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    padding-top:220px;
    padding-left: 280px;
 
   
}
.background #initialText{
    padding-right:260px ;
    padding-top: 110px;
}

#initialText{
    justify-content: center;
    align-items: center;
     padding: 20px;
     padding-top: 50px;
 
     
     text-align: center;
}

#initialText h1{
    color:rgb(255, 255, 255);
    font-size: 60px; 
}

#afterDOBbutton{
    background-color: rgba(0, 0, 0, 0.684);
   height: 300px;
    width:80%;
    border-radius: 8px;
   justify-content: center;
   align-items: center;
    padding: 20px;
    padding-top: 50px;

    
    text-align: center;
}





.container h1{

    color:rgb(255, 255, 255);
    font-size: 50px;
}

.settings{
    position:absolute;
    bottom: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    gap:1rem;
}
.settings i{
    color: aliceblue;
  font-size: 30px;
}
.settings i:hover{
    color: rgb(255, 157, 0);
  font-size: 33px;
}
.setting-content{
    gap:1rem;
    display: flex;
}
.setting-content input{
    padding: 8px;
font-size: 20px;
border-radius: 5px;
border: none;
background-color: rgb(252, 198, 244);
}
.setting-content button{
    padding:8px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
background-color: #176114;
color: aliceblue;
}
.hide{
    display: none;
}

.time-container{
    margin-top: 1rem;
    color: white;
    display: flex;
gap:2rem;
align-items: center;
justify-content: center;

}

.time-container h2{
    text-align: center;
  font-size: 2.4rem;
}
.time-container div{
   color: white;
  font-size: 4rem;
}


